{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}
<h2>Create a New Appointment</h2><br>

<div class="container mb-5">
    <form action="{{ url_for('views.create') }}" 
        method="POST" 
        onsubmit="return validateForm()" 
        id="new_appt_form"
        name="create_appt_form">
        


        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <label for="PO_number"><b>PO Number:</b></label>
                <input type="text" id="PO_number" name="PO_number" 
                    placeholder="PO-xxxxx" class="form-control">
            </div>
        </div><br>



        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <!--This Jinja for loop goes through each carrier 
                in the 'carriers' column that is passed from the view 
                function and adds all the unique values to the
                dropdown list.-->
                <label><b>Choose a Customer:</b></label><br>
                <select name="carrier" class="form-select">
                    <option disabled selected value></option>
                    {% for carrier in carriers %}
                    <option value = "{{ carrier.carrier_name }}">{{ carrier.carrier_name }}</option>
                    {% endfor %}
                </select>
                
                <p class="note">Don't see your customer in the dropdown menu?</p>
                <a
                    href="{{ url_for('views.new_carrier') }}"
                    class="btn btn-outline-success"
                    role="button">Create New Customer
                </a>
            </div>
        </div><br>





        <div class="row">
            <p><b>Select a product:</b></p>

            <div class="col-sm-4 col-md-3 col-lg-2">

                <p>HCl:</p>
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="material" 
                        id="36% HCl" 
                        value="36% HCl">
                    <label 
                        class="form-check-label"
                        for="36% HCl">36% HCl</label>
                </div>

                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="material" 
                        id="32% HCl" 
                        value="32% HCl">
                    <label 
                        class="form-check-label"
                        for="32% HCl">32% HCl</label>
                </div>                        

                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="material" 
                        id="15% HCl" 
                        value="15% HCl">
                    <label 
                        class="form-check-label"
                        for="15% HCl">15% HCl</label>
                </div>

            </div>

            <div class="col-sm-4 col-md-3 col-lg-2">

                <p>Caustic:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="material" id="50% Caustic" value="50% Caustic">
                    <label for="50% Caustic">50% Caustic</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="material" id="32% Caustic" value="32% Caustic">
                    <label for="32% Caustic">32% Caustic</label>
                </div>

                <div class="form-check">  
                    <input class="form-check-input" type="radio" name="material" id="30% Caustic" value="30% Caustic">
                    <label for="30% Caustic">30% Caustic</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="material" id="25% Caustic" value="25% Caustic">
                    <label for="25% Caustic">25% Caustic</label>
                </div>

                <div class="form-check">  
                    <input class="form-check-input" type="radio" name="material" id="20% Caustic" value="20% Caustic">
                    <label for="20% Caustic">20% Caustic</label>
                </div>

            </div>

            <div class="col-sm-4 col-md-3 col-lg-2">

                <p>Bleach:</p>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="material" id="14%+ Bleach" value="14%+ Bleach">
                    <label for="14%+ Bleach">14%+ Bleach</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="material" id="12.5% Bleach" value="12.5% Bleach">
                    <label for="12.5% Bleach">12.5% Bleach</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="material" id="10% Bleach" value="10% Bleach">
                    <label for="10% Bleach">10% Bleach</label>
                </div>

            </div>

        </div><br>




        <div class="row">
            <div class="col-8 col-sm-6 col-md-6 col-lg-4">
                <label for="pickup_date"><b>Pickup Date:</b></label>
                <input type="date" id="pickup_date" name="pickup_date" class="form-control">
            </div>
        </div><br>



        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <label for="pickup_time"><b>Pickup Time:</b></label>
                <input type="time" id="pickup_time" name="pickup_time" class="form-control">
            </div>
        </div><br>





        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <label for="volume"><b>Requested Volume [gallons]:</b></label><br>
                <input class="form-control" 
                    type="number" 
                    name="volume" 
                    id="volume" 
                    value="volume">
            </div>
        </div><br>


        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                <label for="notes"><b>Notes:</b></label><br>
                <input class="form-control" 
                    type="text" 
                    name="notes" 
                    id="notes">
            </div>
        </div><br><br>


        <button
            type="submit"  
            form="new_appt_form"
            value="Submit" 
            class="btn btn-outline-success">Submit</button>
        </button> 

    </form>

</div>






<script>
    function validateForm() {
        let w = document.forms["create_appt_form"]["carrier"].value;
            x = document.forms["create_appt_form"]["pickup_date"].value;
            y = document.forms["create_appt_form"]["pickup_time"].value;
            z = document.forms["create_appt_form"]["material"].value;

        if (w == "") {
            alert("Customer field cannot be left blank");
            return false;   

        } else if (x == "") {
            alert("Date field cannot be left blank");
            return false;

        } else if (y == "") {
            alert("Time field cannot be left blank");
            return false;

        } else if (z == "") {
            alert("Please choose a product");
            return false;

        }


    }
</script>




{% endblock %}