{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}
<form class="form">
    <label for="log">Number of change log entries to query:</label>
    <select name="log" id="log_query">
        <option value="10" 
        {% if query_limit == "10" %} selected {% endif %}>10</option>
        <option value="25" 
        {% if query_limit == "25" %} selected {% endif %}>25</option>
        <option value="50" 
        {% if query_limit == "50" %} selected {% endif %}>50</option>
        <option value="100" 
        {% if query_limit == "100" %} selected {% endif %}>100</option>
    </select><br><br>
    <input type="submit" value="Update View" class="create_edit">
</form>

<div id="change_log">
    <h3>Appointment Change Log</h3>
    <table>
        <tr>
            <th>Action</th>
            <th>Carrier</th>
            <th>Material</th>
            <th>Volume [gallons]</th>
            <th>Pickup Date [YYYY-MM-DD]</th>
            <th>Pickup Time [24-hr]</th>
            <th>PO Number</th>
            <th>Date Modified</th>
        </tr>

        {% for item in log %}
            <tr>
                <td>{{ item.action }}</td>
                <td>{{ item.carrier }}</td>
                <td>{{ item.material }}</td>
                <td>{{ item.volume }}</td>
                <td>{{ item.pickup_date }}</td>
                <td>{{ item.pickup_time }}</td>
                <td>{{ item.PO_number }}</td>
                <td>{{ item.modified_on.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}