{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}
    <h2>Filter Appointments</h2>

    <div class="container">
        <form action="/" method="GET">
            <div class="row gy-4">

                <!--1st column-->
                <div class="col">
                    <div class="form-check">
                        <b>Select material:</b><br>

                        <input class="form-check-input" type="checkbox" 
                            value="36% HCl" id="36% HCl" name="material_filter" checked>
                        <label class="form-check-label" for="36% HCl">36% HCl</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                        value="32% HCl" id="32% HCl" name="material_filter"
                        checked>
                        <label class="form-check-label" for="32% HCl">
                            32% HCl</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                            name="material_filter" id="15% HCl" value="15% HCl" 
                            checked>
                        <label class="form-check-label" for="15% HCl">
                            15% HCl</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                            value="50% Caustic" id="50% Caustic" name="material_filter"
                            checked>
                        <label class="form-check-label" for="50% Caustic">
                            50% Caustic</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                            name="material_filter" id="25% Caustic" value="25% Caustic" 
                            checked>
                        <label class="form-check-label" 
                            for="25% Caustic">25% Caustic</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                            name="material_filter" id="20% Caustic" value="20% Caustic" 
                            checked>
                        <label class="form-check-label"
                            for="20% Caustic">20% Caustic</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                            name="material_filter" id="12.5% Bleach" value="12.5% Bleach" 
                            checked>
                        <label class="form-check-label"
                            for="12.5% Bleach">12.5% Bleach</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" name="material_filter" 
                            id="10%_Bleach_filter" value="10% Bleach" 
                            checked>
                        <label class="form-check-label"
                            for="10% Bleach">10% Bleach</label><br>
                        <!--------------------------------------------------------->
                        <input class="form-check-input" type="checkbox" 
                        onclick="toggle(this);" value="select_all" name="select_all" id="selectAll">
                        <label class="form-check-label"
                            for="select_all">Select/Deselect All</label><br>
                        <!--------------------------------------------------------->
                    </div>
                </div>
            

                <!--2nd column-->
                <div class="col text-center">
                    <div class="date-input">
                        <label for="start_date_filter">Choose a start date:</label><br>
                        <input type="date" id="start_date_filter" name="start_date_filter" 
                            min="2022-01-01"><br>
                    </div>
                    <!--------------------------------------------------------->
                    <div class="date-input">
                        <label for="end_date_filter">Choose an end date:</label><br>
                        <input type="date" id="end_date_filter" name="end_date_filter" 
                            min="2022-01-01"><br><br>
                    </div>
                    <!--------------------------------------------------------->
                    <div class="time-input">
                        <label for="start_time_filter">Choose a start time:</label><br>
                        <input type="time" id="start_time_filter" name="start_time_filter"><br>
                    </div>
                    <!--------------------------------------------------------->
                    <div class="time-input">
                        <label for="end_time_filter">Choose an end time:</label><br>
                        <input type="time" id="end_time_filter" name="end_time_filter"><br>
                    </div>
                </div>
            

                <!--3rd column-->
                <div class="col text-center">
                    <b>Select a Carrier:</b><br>
                        <select name="carrier">
                            <option value = "all">All Carriers</option>
                            {% for carrier in carriers %}
                                <option value = "{{ carrier.carrier_name }}">
                                        {{ carrier.carrier_name }}</option>
                            {% endfor %}
                        </select>
                </div>


                <!--4th column-->
                <div class="col text-center">
                    <input type="submit" value="View Appointments" 
                        class="btn btn-outline-success">
                </div>
            

            <!--closes the 'row' <div>-->
            </div>


        </form>

    <!--closes the 'container' <div>-->
    </div><br>




    <div id="appointment_list">
        <h2>Queried Appointments</h2>

        <div class="table-responsive mx-5">
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Carrier</th>
                        <th scope="col">Material</th>
                        <th scope="col">Volume [gallons]</th>
                        <th scope="col">Pickup Date [YYYY-MM-DD]</th>
                        <th scope="col">Pickup Time [24-hr]</th>
                        <th scope="col">PO Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>


                <tbody>
                    {% for appt in appts %}
                        <tr>
                            <td class="align-middle">{{ appt.carrier }}</td>
                            <td class="align-middle">{{ appt.material }}</td>
                            <td class="align-middle">{{ appt.volume }}</td>
                            <td class="align-middle">{{ appt.pickup_date }}</td>
                            <td class="align-middle">{{ appt.pickup_time }}</td>
                            <td class="align-middle">{{ appt.PO_number }}</td>
                            
                            {% if user.access_ranking == 3 %}
                            
                            <td class="align-middle">
                                <a 
                                    class="btn btn-outline-success my-1" 
                                    href="{{ url_for('views.update', id=appt.id) }}" 
                                    role="button">Update
                                </a>

                                <a 
                                    class="btn btn-outline-success my-1" 
                                    href="{{ url_for('views.delete', id=appt.id) }}" 
                                    onclick="delete_appt_popup()"
                                    role="button">Delete
                                </a>

                            </td>
                            
                            {% else %}
                            <td class="align-middle">
                                <a 
                                    href="" 
                                    class="btn btn-outline-success my-1"
                                    role="button"
                                    onclick="unauth_popup()">Update</a>
                                <a 
                                    href="" 
                                    class="btn btn-outline-success my-1"
                                    role="button"
                                    onclick="unauth_popup()">Delete</a>
                            </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    <h2>Query Statistics</h2>

    <div class="table-responsive mx-5 mb-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Material</th>
                    <th scope="col">Total Volume [gallons]</th>
                </tr>
            </thead>

            <tbody>          
                <tr>
                    <td>HCl</td>
                    <td>{{hcl_volumeList}}</td>
                </tr>
                <tr>
                    <td>Caustic</td>
                    <td>{{caustic_volumeList}}</td>
                </tr>
                <tr>
                    <td>Bleach</td>
                    <td>{{bleach_volumeList}}</td>
                </tr>
            </tbody>
        </table>
    </div>

<!--refresh this page every 60 seconds-->
<script>
setTimeout(function(){
   window.location.reload(1);
}, 60000);
</script>


{% endblock %}