{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}
    <h2>Create New Carrier</h2><br>


    <div class="container">

        <form action="/new_carrier" method="POST" class="form" onsubmit="new_carrier_popup()">
        <!--data is sent to the 'new_carrier' route-->

            <div class="row">
                <div class="col-8 col-sm-8 col-md-6 col-lg-4">
                    <label for="carrier_name">Carrier Name</label>
                    <input class="form-control" type="text" name="carrier_name" id="carrier_name" 
                        placeholder="Carrier Name">
                </div>
            </div><br>


            <div class="row">
                <div class="col-8 col-sm-8 col-md-6 col-lg-4">
                    <label for="phone">Phone Number (###-###-####)</label>
                    <input type="tel" id="carrier_phone" name="carrier_phone" 
                        placeholder="210-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" 
                        class="form-control">
                </div>
            </div><br>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">                            
                    <input type="submit" id="new_carrier_submit" value="Submit" 
                        class="btn btn-outline-success">
                </div>
            </div>

        </form>
    </div>

{% endblock %}