table {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    border: 1px solid;
    text-align: center;
    padding: 5px;
    background-color: rgb(11, 83, 11);
    color: white;
}

td {
    border: 1px solid;
    text-align: center;
    padding: 5px;
}

tr:hover {
    background-color: rgb(216, 253, 241);
}

a:link {
    color:green;
}

a:visited {
    color:green;
}

a:hover {
    color:black;
}

#view_bgrd {
    background-color: rgb(201, 248, 201);
    width:25%;
    padding: 20px;
    margin-top: 10px;

}
