#logo {
    margin: -50px 0px -50px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: Arial Narrow, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    font-family: Arial Narrow, Helvetica, sans-serif;
    clear: left;
}

h4 {
    font-family: Arial Narrow, Helvetica, sans-serif;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

th {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    background-color: rgb(11, 83, 11);
    color: white;
    font-family: Arial Narrow, Helvetica, sans-serif;
}

td {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    font-family: Arial Narrow, Helvetica, sans-serif;
}

tr:hover {
    background-color: rgb(249, 255, 251);
}

a:link {
    font-family: Arial Narrow, Helvetica, sans-serif;
}

a:visited {
    color:white;
}

.delete_update_buttons {
    color:white;
    font-weight: bold;
    text-decoration: none;
    background-color:rgb(2, 81, 2);
    padding: 5px;
    border-radius: 5px;
}

.delete_update_buttons:hover {
    background-color: rgb(173, 239, 173);
    color: black;
}

.create_edit {
    background-color: rgb(2, 81, 2);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-family: Arial Narrow, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.create_edit:hover {
    background-color: rgb(173, 239, 173);
    color: black;
}

.column {
    margin-bottom: 50px;
    float: left;
    width: 33%;
    border: 1px solid;
    height: 100px;
    position: relative;
    line-height: 1.5;
    vertical-align: middle;
    width: 200px;
}

#start_end_dates {
    text-align: center;
}

#submit_view_form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}