#logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

/*base.html link header*/
/*---------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 30px;
    overflow: hidden;
    background-color: rgb(2, 81, 2);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
}

li a:hover {
    background-color: rgb(173, 239, 173);
    color: black;
}
/*---------------------------------------------------*/



/*base.html title*/
/*---------------------------------------------------*/
h1 {
    font-family: Arial Narrow, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial Narrow, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


/*
h4 {
    font-family: Arial Narrow, Helvetica, sans-serif;
}
*/

.logged-in-as {
    font-family: Arial Narrow, Helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
    padding-right: 5%;
}

.note {
    font-family: Arial Narrow, Helvetica, sans-serif;
    font-size: 14px;  
}

/*---------------------------------------------------*/


/*tables*/
/*---------------------------------------------------*/

thead {
    border: 1px solid;
    text-align: center;
    background-color: rgb(11, 83, 11);
    color: white;
    font-family: Arial Narrow, Helvetica, sans-serif;
}


tbody {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    font-family: Arial Narrow, Helvetica, sans-serif;
}

/*
tr:hover {
    background-color: rgb(249, 255, 251);
}

.delete_update_buttons {
    color:white;
    font-weight: bold;
    text-decoration: none;
    background-color:rgb(2, 81, 2);
    padding: 5px;
    border-radius: 5px;
}

.delete_update_buttons:hover {
    background-color: rgb(173, 239, 173);
    color: black;
}
*/

/*---------------------------------------------------*/


/*submit/query buttons*/
/*---------------------------------------------------*/
.create_edit {
    background-color: rgb(2, 81, 2);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.create_edit:hover {
    background-color: rgb(173, 239, 173);
    color: black;
}
/*---------------------------------------------------*/


/*submit/query buttons*/
/*---------------------------------------------------*/


/*
.query-col {
    border-left: 6px solid green;
    height: 100%;
}

.query-row {
    height:300px;
}
*/




.form-check-input:checked {
    background-color: green!important;
    border: green!important;
}

.form-check-input:active {
    border: green!important;
}

.date-input {
    padding: 5px;
}

.time-input {
    padding: 5px;
}

/*
.view_column {
    margin-bottom: 50px;
    float: left;
    border: 1px solid;
    height: 250px;
    position: relative;
    line-height: 1.5;
    vertical-align: middle;
    width: 20%;
}

#start_end_dates {
    text-align: center;
    padding: 50px 0;
}

#view_carrier {
    text-align: center;
    padding: 50px 0;
}

#submit_view_form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
*/



/*
#appointment_list {
    clear: left;
}

.create_column {
    float: left;
    width: 50%;
    margin-top: 20px;
}
*/



/*.form {
    background-color: rgb(221, 253, 221);
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    font-family: Arial Narrow, sans-serif;
    margin-left: 20px;
}*/

/*all labels*/
/*label {
    font-family: Arial Narrow, sans-serif;
}*/



