{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}
<form class="form">
    <label for="log">Number of change log entries to query:</label>
    <select name="log" id="log_query">
        <option value="10">10</option>
        <option value="10">25</option>
        <option value="10">50</option>
        <option value="10">100</option>
    </select><br><br>
    <input type="submit" value="Update View" class="create_edit">
</form>

<div id="change_log">
    <h3>Appointment Change Log:</h3>
    <table>
        <tr>
            <th>Action</th>
            <th>appt_id</th>
            <th>Carrier</th>
            <th>Appointment Date</th>
            <th>Date Modified</th>
        </tr>

            {% for item in log|reverse %}
                <tr>
                    <td>{{ item.action }}</td>
                    <td>{{ item.appt_id }}</td>
                    <td>{{ item.appt.carrier }}</td>
                    <td>{{ item.appt.pickup_date }}</td>
                    <td>{{ item.modified_on.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
            {% endfor %}

    </table>
</div>
{% endblock %}