{% extends 'base.html' %}

{% block head %}
{% endblock %}
    
{% block body %}
    <h3>View Appointments:</h3>

    <div id="view_form_container">
        <form action="/" method="GET">
            <div class="view_column" id="view_select_material">
                <label><b>Select material:</b></label><br>
                <input type="checkbox" name="material_filter" id="36%_HCl_filter" value="36% HCl" checked="checked">
                <label for="36% HCl">36% HCl</label><br>
                <input type="checkbox" name="material_filter" id="32%_HCl_filter" value="32% HCl" checked="checked">
                <label for="32% HCl">32% HCl</label><br>
                <input type="checkbox" name="material_filter" id="15%_HCl_filter" value="15% HCl" checked="checked">
                <label for="15% HCl">15% HCl</label><br>
                <input type="checkbox" name="material_filter" id="50%_Caustic_filter" value="50% Caustic" checked="checked">
                <label for="50% Caustic">50% Caustic</label><br>
                <input type="checkbox" name="material_filter" id="25%_Caustic_filter" value="25% Caustic" checked="checked">
                <label for="25% Caustic">25% Caustic</label><br>
                <input type="checkbox" name="material_filter" id="20%_Caustic_filter" value="20% Caustic" checked="checked">
                <label for="20% Caustic">20% Caustic</label><br>
                <input type="checkbox" name="material_filter" id="12.5%_Bleach_filter" value="12.5% Bleach" checked="checked">
                <label for="12.5% Bleach">12.5% Bleach</label><br>
                <input type="checkbox" name="material_filter" id="10%_Bleach_filter" value="10% Bleach" checked="checked">
                <label for="10% Bleach">10% Bleach</label><br>
            </div>

            <div class="view_column">
                <div id="start_end_dates">
                    <label for="start_date_filter">Choose a start date:</label>
                    <input type="date" id="start_date_filter" name="start_date_filter" min="2022-01-01"><br>
                    <label for="end_date_filter">Choose an end date:</label>
                    <input type="date" id="end_date_filter" name="end_date_filter" min="2022-01-01"><br><br>
                    <label for="start_time_filter">Choose a start time:</label>
                    <input type="time" id="start_time_filter" name="start_time_filter"><br>
                    <label for="end_time_filter">Choose an end time:</label>
                    <input type="time" id="end_time_filter" name="end_time_filter"><br>
                </div>
            </div>

            <div class="view_column">
                <div id="submit_view_form">
                    <input type="submit" value="View Appointments" class="create_edit">
                </div>
            </div>
        </form>
    </div>

    <div id="appointment_list">
        <h3>Appointment List:</h3>
        <table>
            <tr>
                <th>Carrier</th>
                <th>Material</th>
                <th>Volume [gallons]</th>
                <th>Pickup Date [YYYY-MM-DD]</th>
                <th>Pickup Time [24-hr]</th>
                <th>PO Number</th>
                <th>Actions</th>
            </tr>

            {% for appt in appts %}
                <tr>
                    <td>{{ appt.carrier }}</td>
                    <td>{{ appt.material }}</td>
                    <td>{{ appt.volume }}</td>
                    <td>{{ appt.pickup_date }}</td>
                    <td>{{ appt.pickup_time }}</td>
                    <td>{{ appt.PO_number }}</td>
                    <td>
                        <a href="{{ url_for('update', id=appt.id) }}" class="delete_update_buttons">Update</a>
                        <a href="{{ url_for('delete', id=appt.id) }}"class="delete_update_buttons">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}