{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="form">
        <h3>Update Appointment:</h3><br>

        <form action="/update/{{appt.id}}" method="POST">
            <label>Carrier:</label>
            <input type="text" name="carrier" id="carrier" 
                value="{{ appt.carrier }}"><br>

            <h4>Current volume = {{ appt.volume }} gallons</h4>
            <label>Enter a new volume:</label><br>
            <input type="number" name="volume_update" id="volume"
                value="{{ appt.volume }}"><br><br>

            <h4>Current material = {{ appt.material }}</h4>
            <label>Select a new material:</label><br>
            <p>HCl:</p>
            <input type="radio" name="material_update" id="36%_HCl" value="36% HCl">
            <label for="36% HCl">36% HCl</label><br>
            <input type="radio" name="material_update" id="32%_HCl" value="32% HCl">
            <label for="32% HCl">32% HCl</label><br>
            <input type="radio" name="material_update" id="15%_HCl" value="15% HCl">
            <label for="15% HCl">15% HCl</label><br>
            <p>Caustic:</p>
            <input type="radio" name="material_update" id="50%_Caustic" value="50% Caustic">
            <label for="50% Caustic">50% Caustic</label><br>
            <input type="radio" name="material_update" id="25%_Caustic" value="25% Caustic">
            <label for="25% Caustic">25% Caustic</label><br>
            <input type="radio" name="material_update" id="20%_Caustic" value="20% Caustic">
            <label for="20% Caustic">20% Caustic</label><br>
            <p>Bleach:</p>
            <input type="radio" name="material_update" id="12.5%_Bleach" value="12.5% Bleach">
            <label for="12.5% Bleach">12.5% Bleach</label><br>
            <input type="radio" name="material_update" id="10%_Bleach" value="10% Bleach">
            <label for="10% Bleach">10% Bleach</label><br><br>

            <h4>Current pickup date = {{ appt.pickup_date }}</h4>
            <label for="pickup_date">Select a new date:</label>
            <input type="date" id="pickup_date" name="pickup_date" value="{{ appt.pickup_date }}"><br>

            <h4>Current pickup time = {{ appt.pickup_time }}</h4>
            <label for="pickup_time">Select a new time:</label>
            <input type="time" id="pickup_time" name="pickup_time" value="{{ appt.pickup_time }}"><br><br>

            <h4>Current PO number: = {{ appt.PO_number }}</h4>
            <label>Enter a new PO Number:</label><br>
            <input type="text" id="PO_number" name="PO_number_update" 
                value="{{ appt.PO_number }}"><br><br>


            <button type="submit" class="create_edit" id="update_button" disabled>Update Appointment</button>
        </form>
    </div>



    <script>
        //define a variable named 'update' to represent the button
        let update = document.querySelector('#update_button');
        //when you click on the form, call the function named 'enable'
        document.querySelector('form').addEventListener('click', enable);

        //if you clicked a radio button, enable the submit button
        function enable(event) {
            if(event.target.name === 'material_update') {
                update.disabled = false;
            }
        }
    </script>

{% endblock %}
